.buttonclass{
  width: 51%;
  height: 10%;
  margin-top: 60%;
  position: absolute;
  margin-left: 6%;
  background-color:blue;
  font-family: Roboto,Arial,sans-serif;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border: none;
}